#left-side {
    position: relative;
    background: url('minh-pham.jpg');
    width: 33.33%;
    height: 100vh;
    background-size:cover;
    filter: grayscale(0.5);
}

#right-side {
    background-color: #f9fafb;
    width: 66.66%;
    height: 100vh;
}

section#intro {
    box-sizing:border-box;
    padding: 75px 75px 25px 75px;
}

 section#extra {
     box-sizing: border-box;
     padding: 25px 75px;
 }

 section#extra span {
    font-size: 18px;
 }

main {
    display: flex;
}

legends#photo-credit {
    position: absolute;
    bottom: 15px;
    margin: auto;
    text-align: center;
    width: 100%;
    color: white;
    background: rgba(100,100,100,0.4);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    box-shadow: 0 4px 6px -6px #222;
    box-shadow: ;
    padding: 20px 75px;
}

h2 {
    padding: 25px 75px;
    margin-top: 10px;
    background-color: white;
    margin-bottom: 0;
    font-size: 32px;
}

fieldset {
    border:none;
    padding-left: 0;
    margin-left: 0;
    margin-right: 20px;
}

input {
    display: block;
    width: 100%;
    border-radius: 20px;
    line-height: 2;
    margin-top: 5px;
    padding: 0 10px;
}

label {
}

@media (max-width: 1000px) {
    main {flex-direction:column;}
    #left-side {width: 100%;height:50vh;}
    #right-side {width: 100%;}
    form {grid-template-columns: 1fr;}
}

button {
    color: black;
    font-variant: small-caps;
    border-radius: 20px;
    padding: 10px 70px;
    margin: 10px 0;
    opacity: 0.8;
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
}

p, span {
    font-size: 24px;
}

a {
    color: darkgreen;
}